<!-- views/partials/head.ejs -->
<!-- Para verdadero templating EJS Locals: http://lresende.blogspot.com.es/2015/01/nodejs-building-html-site-template.html -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:10px; }
</style>