<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
	<header>
        <% include partials/header %>
    </header>

    <main>
		<h1>Hola que tal como estamos Express.js pero con EJS</h1>
		<div>Name is <%= name %></div>
		<div>Url is <%= url %></div>
		<hr>
		<h2>Tus bebidas preferidas son: </h2>
		 <ul>
		 <% drinks.forEach(function(drink) { %>
		 	<%if (drink.drunkness >= 5) { %>
		 		<li><%= drink.name %> - <%= drink.drunkness %></li>
		 	<% }; %>
		 <% }); %>
		 </ul>
	</main>
    <footer>
        <% include partials/footer %>
    </footer>
	</body>
</html>