<html>
  <head>
    <title>Person</title>
  </head>
  <body>
    <form action="/person" method="POST">
      <div>
        <label for="name">Name: </label>
        <input name="name"/>
      </div><br/>
      <div>
        <label for="age">Age: </label>
        <input name="age"/>
      </div><br/>
      <div>
        <label for="nationality">Nationality: </label>
        <input name="nationality"/>
      </div><br/>
      <button type="submit">Create new person</button>
    </form>
  </body>
</html>